body,
.swal2-popup,
.modal-content,
input,
.datepicker-dropdown,
th{
    background-color: white !important;
}

span,
title,
h1,
h2,
h3,
h4,
h5,
h6,
label,
i,
a,
button,
ul,
li,
ol,
th,
td,
input,
label,
.custom-file-label{

    color: black !important;
}

button{
    background-color: #57cfea59 !important;
    border-color: #46b8da !important;
}
